@model IEnumerable<ITZRealStateWeb.Models.Listing>
<table>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.colony)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.constSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.colony)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.constSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Show on Map", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Remove", "DeleteDesireAjax", new { id = item.IdListing, idu= ViewBag.id}) |
            @Html.ActionLink("Share", "Delete", new { item.IdListing })
        </td>
    </tr>
}

</table>
