@model IEnumerable<ITZRealStateWeb.Models.Listing>
<table>
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.constSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>

        <th>

        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.constSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.ActionLink("Remove", "DeleteDesireAjax", new { id = item.IdListing, idu= ViewBag.id}) |
            <a onclick="redeem('@item.Address','http://itzrealstate.localhost');">Share</a>
        </td>
    </tr>
}

</table>

@Scripts.Render("~/Scripts/Desire/Index.js")
