<html>
<head>
    <title>ITZRealState - Dashboard </title>
    <meta name="description" content="welcome to the dashboard" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="Scripts/Shared/modernizr-1.5.min.js"></script>
    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
    <script src="//connect.facebook.net/en_US/all.js"></script>

    @Styles.Render("~/Content/Dash")
    <!-- modernizr enables HTML5 elements and feature detects -->
</head>
<body id="main">
    <div id="main">
        <header>
            <div id="logo">
                <span class="left">
                    <a href="/home/">
                        <img src="~/Images/Dashboard/logoITZ.png" alt="example graphic" /></a></span>
                <div id="logo_text">
                    <div id="menu_container2">
                        <ul class="sf-menu edgeLoad-EDGE-1562389" id="nav">
                            <span class="left">
                                <img src="~/images/dashboard/perfil.jpg" alt="example graphic" id="imagePorfile" /></span>
                            <li id="txt" class="edgeLoad-EDGE-1562389"><a id="login" href="#" class="edgeLoad-EDGE-1562389">Hi! @ViewBag.user</a>
                                <ul>
                                    <li><a href="#" onclick="EditUserjs(@(ViewBag.id));">Account</a></li>


                                    <li>
                                        <span class="logout-btn">
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn-on">Log off</a>
                                            }
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- class="logo_colour", allows you to change the colour of the text -->
                </div>
            </div>
        </header>
    </div>
    <nav>
        <div id="menu_container" class="left">
            <ul class="sf-menu" id="nav">
                <li><a href="#" onclick="">Search Listing</a></li>
                <li><a href="#" onclick="Listings();">Listings</a></li>
                <li><a href="#" onclick="DesireList(@(ViewBag.id));">Favorites</a></li>
                <li><a href="#" onclick="Agents();">Sale Agents</a></li>
                <li><a href="#">Settings</a>
                    <ul>
                        <li> <a href="#" onclick="Amenities();">Amenitie</a></li>
                        <li> <a href="#" onclick="Rooms();">Room</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
    <div id="site_content">
    </div>

    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

<<<<<<< HEAD
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/noty")
    @Scripts.Render("~/bundles/dropdown")
    @Scripts.Render("~/Scripts/Shared/_Layout.js")
    @RenderSection("scripts", required: false)
=======
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/noty")
	@Scripts.Render("~/bundles/dropdown")
	@Scripts.Render("~/Scripts/Shared/_Layout.js")
    @Scripts.Render("~/Scripts/Listing/Index.js")
	@RenderSection("scripts", required: false)
>>>>>>> Listings(Create,Edit,Delete)
</body>
</html>
