@model IEnumerable<ITZRealStateWeb.Models.Listing>

@{
    ViewBag.Title = "MyNewSearchL";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="site_content2">
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lotSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.constSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.zipcode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lotSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.constSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zipcode)
        </td>
        <td>
            @Html.ActionLink("Favorite", "AddFavorite", new { id=item.IdListing , idu= ViewBag.id }) 
        </td>
    </tr>
}

</table>
    </div>
