@model ITZRealStateWeb.Models.User

@using (Html.BeginForm("EditUserAjax", "User", FormMethod.Post, new { @class = "metro-form", id = "current_form" })) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdUser)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdUser)
            @Html.ValidationMessageFor(model => model.IdUser)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.facebookId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.facebookId)
            @Html.ValidationMessageFor(model => model.facebookId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zipCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zipCode)
            @Html.ValidationMessageFor(model => model.zipCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.accesstoken)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.accesstoken)
            @Html.ValidationMessageFor(model => model.accesstoken)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<script type="text/javascript">
	$(document).ready(function () {
		$.validator.unobtrusive.parse("#current_form");
	});
</script>
