@model ITZRealStateWeb.Models.User
<div>
@using (Html.BeginForm("EditUserAjax", "User", FormMethod.Post, new { @class = "metro-form", id = "current_form" })) 
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>User</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.firstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.firstName)
            @Html.ValidationMessageFor(model => model.firstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.lastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.lastName)
            @Html.ValidationMessageFor(model => model.lastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.zipCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.zipCode)
            @Html.ValidationMessageFor(model => model.zipCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <p>
            <input value="Update" class="button" type="button" onclick="submitEdit(this.form);" />
            <input class="button" type="button" value="Cancel" onclick="CancelEditU();" />
        </p>
        @Html.HiddenFor(model => model.IdUser)
        @Html.HiddenFor(model => model.facebookId)
        @Html.HiddenFor(model => model.accesstoken)
    </fieldset>
}
    </div>

<script type="text/javascript">
	$(document).ready(function () {
		$.validator.unobtrusive.parse("#current_form");
	});
</script>
